@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Azure Devops CI/CD with Azure Kubernetes Services (AKS) </h2>

</div>

<div>
    <table height="100"></table>
    <video width="320" height="240">
        <source src="https://www.youtube.com/watch?v=QivUugARlPc" />

    </video>
</div>

<div class=" text-center">
    <div>
        <img src="https://ncpublicdata.blob.core.windows.net/images/MVP_Logo_Horizontal_Secondary_Blue288_RGB_300ppi.png" height="100" />
        <a href="https://azure.microsoft.com" target="_blank">
            <img src="https://ncpublicdata.blob.core.windows.net/images/AzureText.png" height="100" />
        </a>
        <a href="https://nephocraft.com" target="_blank">
            <img src="https://ncpublicdata.blob.core.windows.net/images/Nephocraft_Logo_600_201.png" height="100" />
        </a>
        <a href="https://www.mshowto.org" target="_blank">
            <img src="https://ncpublicdata.blob.core.windows.net/images/mshowto_logo.png" height="100" />
        </a>
    </div>
</div>

<div>
    <table height="100"></table>
</div>

<div>
    <h3>Onur Yüksektepeli - Microsoft Azure MVP- Microsoft Cloud Solutions Architect</h3>
    <p>Onur Yuksektepeli - Azure MVP <a href="https://www.mshowto.org">Daha fazlası için...</a>.</p>

</div>


